.welcome {
    padding-top: 80px;
    height: 640px;
}

.welcome .text, .welcome .mini-gallery {
    position: absolute;
}

.welcome .text {
    margin-top: 157px;
    margin-left: 216px;
    font-family: 'PT Sans Caption', serif;
    font-size: 13px;
    color: #666666;
    width: 260px;
    letter-spacing: 1px;
    line-height: 20px;
}

.welcome .text .title {
    font-weight: 700;
    color: #111111;
    padding-top: 33px;
}

.welcome .text .sign {
    width: 184px;
    height: 44px;
    background: url("../img/sign.png") no-repeat;
    margin-top: 40px;
    margin-left: 2px;
}

